@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap');

body {
    background-image: url(/asset/img/bg.jpg);
    background-size: cover;
    position: relative;
    font-family: 'Outfit', sans-serif;
}

#container {
    text-align: center;
    padding-top: 70px;
}

#timer {
    align-items: right;
}

#top {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logo {
    text-align: left;
    max-width: 300px;
    max-height: auto;
}

#next-button {
    margin: 15px;
}

.options {
    display: flex;
    gap: 10px;
    font-family: 'Inter', sans-serif;
}

.selected {
    background-color: #af0087;
}

#question {
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: 60px;
    margin: 20px;
}

input[type="radio"] {
    opacity: 0;
    width: 2rem;
    height: 1em;
    background-color: #fff;
    position: absolute;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
}

input[type="radio"]:checked+label {
    border-radius: 10px;
    background-color: #af0087;
    padding: 10px;
    cursor: pointer;
}

.radio {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.answer-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.answer-group label {
    font-family: 'Inter', sans-serif;
    flex: 1 1 45%;
    /* Ogni label occupa circa il 45% dello spazio disponibile */
    margin: 5px;
    text-align: left;
}

#timer-container {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#timer-text {
    position: absolute;
    color: black;
    font-weight: bold;
}