@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap');

body {
      background-image: url(../img/bg.jpg);
      background-attachment: fixed;
      background-size: 100% 100%;
      margin: 40px 90px 40px 90px;
}

span {
      font-family: 'Inter', sans-serif;
      font-weight: bold;
      color: white;
}

.cursore {
      cursor: pointer;
}

/*------ header ------*/

#logo {
      width: 11%;
      margin-bottom: 80px;
}

.titoli {
      font-family: 'Outfit', sans-serif;
      font-size: 60px;
      color: white;
      line-height: 50px;
}

#spanTitoli {
      font-family: 'Outfit', sans-serif;
      font-weight: bold;
      color: white;
}

/*----- main -----*/

main,
footer {
      width: 80%;
      margin: auto;
}

.descrizioni {
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      color: white;
      line-height: 20px;
}

h2 {
      color: #D20094;
      font-family: 'Inter', sans-serif;
      font-size: 26px;
      font-weight: bold;
      margin-top: 40px;
      margin-bottom: 10px;
}

#lista {
      margin-left: 20px;
      margin-top: 50px;
      line-height: 25px;
      list-style-type: disc;
}

/*---- footer ----*/

form {
      margin-top: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.checkbox-container {
      display: flex;
      align-items: center;
      /* Allinea verticalmente il testo con il checkbox */
}

#checkbox {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      background: transparent;
      border: 2.5px solid white;
      appearance: none;
      cursor: pointer;
      /* Aggiunge il puntatore del mouse quando si passa sopra il checkbox */
}

#checkbox:checked::before {
      color: #0FF;
      content: '\2713';
      position: relative;
      bottom: 10%;
      left: 17%;
}

#footerSpan {
      font-size: 14px;
      cursor: pointer;
      /* Opzionale: aggiunge il puntatore del mouse quando si passa sopra il testo dell'etichetta */
}

#proceed {
      font-family: 'Outfit', sans-serif;
      font-weight: bold;
      font-size: 20px;
      width: 200px;
      height: 60px;
      border-radius: 0%;
      background-color: #00FFFF;
      border: 0;
      box-shadow: 0 0 25px rgb(0, 255, 255);
      cursor: pointer;
      /* Aggiunge il puntatore del mouse quando si passa sopra il pulsante */
}

#proceed:hover {
      background-color: #33FFFF;
      box-shadow: 0 0 35px #00FFFF;
}