body {
    background-color: black;
}

.options {
    display: flex;
    gap: 10px;
}
input[type="radio"] {
    opacity: 0;
    width: 2rem;
    height: 1em;
    background-color: #fff;
    position: absolute;
}
input[type="radio"]:checked+label {
    background-color: #af0087;
}
.radio {
    background-color: transparent;
    color: white;
}
